footer.container.py-5
    .row
        .col-md-6
            nav.mt-5.mt-md-0.nav.justify-content-justify-content-md-end
                a.nav-link(href="/nosotros") Nosotros
                a.nav-link(href="/hoteles") Hoteles
                a.nav-link(href="/testimonios") Reseñas

        .col
            p.copyright.text-center.text-md-right
                | Todos los derechos reservados |
                span=year